@CHARSET "UTF-8";

html,body{
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
	background-color:#fffff0	
}
	
html{
	overflow-x:hidden
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    font-size:15px;
}